body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  line-height: 42px;
}

a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  font-style: normal;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.section-title {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* HEADER */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  /* gap: 76px; */
  align-items: center;
}

.menu {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo {
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  display: inline-block;
}

.menu-link,
.contact-link {
  padding: 24px 0;
  display: block;
}

.logo > span {
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* MAIN */

.hero-title {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  /* margin: 0 auto; */
}

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0 188px;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

/* FEATURE */
.features-list {
  display: flex;
  gap: 24px;
}

.features-title {
  margin-bottom: 8px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-item-name {
  margin-bottom: 8px;
}

/* TEAM */

.team-list {
  display: flex;
  gap: 24px;
}

.team-thumb {
  padding: 32px 0;
  text-align: center;
}

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-item-name {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  letter-spacing: 0.02em;
}

/* PORTFOLIO */

.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.cart-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-thumb {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.cart-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.cart-item-description {
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
}

.footer .footer-logo span {
  color: #f4f4fd;
}

.footer-description {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
